@import "../../../styles/variables.scss";

.content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    min-height: 100vh;
    
    app-header-layout{
        width: 100%;
    }
    
    main{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 465px;
        flex: 1;

        // button{
        //     width: 100%;
        //     border-radius: 4px;
        //     font-size: 24px;
        //     font-weight: 600;
        //     border: none;
        //     background-color: $primary-color;
        //     color: #fff;
        //     padding: 22px 0;
        //     text-transform: uppercase;
        //     cursor: pointer;

        //     &:disabled{
        //         opacity: 0.8;
        //     }
        // }
        app-button-blue-click{
            width: 100%;
        }
    }

    app-footer-layout{
        width: 100%;
    }
}