<section>
    <app-titles>Cadastrar novo usuário</app-titles>
    <form [formGroup]="signupForm" (ngSubmit)="submit()">

        <app-primary-input
            formControlName="name"
            [formControl]="nameControl"
            inputName="name"
            type="text"
            label="Nome"
            placeholder="João Silva"
        >
        </app-primary-input>

        <app-primary-input
            formControlName="email"
            [formControl]="emailControl"
            inputName="email"
            type="email"
            label="Email"
            placeholder="joaosilva@example.com"
        >
        </app-primary-input>

        <app-primary-input
            formControlName="login"
            [formControl]="loginControl"
            inputName="login"
            type="text"
            label="Login"
            placeholder="Max: 8 Caracteres"
        >
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            [formControl]="passwordControl"
            inputName="password"
            type="password"
            label="Senha"
        >
        </app-primary-input>

        <app-button-blue-click type="submit" [disabled]="signupForm.invalid">Cadastrar</app-button-blue-click>
    </form>
</section>
