<app-default-login-layout
    primaryBtnText="ENTRAR"
    copyrightText="©Tysa Telecomunicações 2024."
    copyrightTextContinue="Todos os direitos reservados."
    (submit)="submit()"
    [disablePrimaryBtn]="!signupForm.valid"
>

    <form [formGroup]="signupForm"> 
        
        <app-primary-input
            formControlName="signup"
            inputName="signup"
            type="text"
            label="Seu nome"
            placeholder="Ex: João Silva"
        >
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Senha"
        >
        </app-primary-input>
        
    </form>
</app-default-login-layout>
