:host ::ng-deep {
    .mat-mdc-dialog-actions {
        display: flex;
        justify-content: end;
        gap: 20px;
        padding-right: 20px;
    }
}

.container-all {
    display: flex;
    gap: 20px;
}


.custom-button {
    display: flex;
    justify-content: space-between;
    background-color: #1b5996;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #2382bd;
}