<div class="container-title">
    <h1 mat-dialog-title>Editar Item</h1>
    <button mat-icon-button class="close-button" (click)="onCloseClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content class="container-all">
    <div class="container-conteudo">
    <mat-form-field>
        <mat-label>RN1</mat-label>
        <input matInput [(ngModel)]="data.rn1" disabled>
    </mat-form-field>
    <mat-form-field>
        <mat-label>OPERADORA</mat-label>
        <input matInput [(ngModel)]="data.operadora" disabled>
    </mat-form-field>
    
    <mat-form-field hintLabel="Máximo 10 characters">
        <mat-label>RN2</mat-label>
        <input matInput #rn2 maxlength="10" [(ngModel)]="data.rn2" [formControl]="rn2FormControl">
        <mat-hint align="end">{{rn2.value.length}}/10</mat-hint>
        <mat-error *ngIf="rn2FormControl.hasError('maxlength')">
            Deve ter no máximo 10 caracteres
        </mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Máximo 3 characters">
        <mat-label>REL</mat-label>
        <input matInput #rel maxlength="3" [(ngModel)]="data.rel" [formControl]="relFormControl">
        <mat-hint align="end">{{rel.value.length}}/3</mat-hint>
        <mat-error *ngIf="relFormControl.hasError('required')">
            REL é <strong>obrigatório</strong>
        </mat-error>
        <mat-error *ngIf="relFormControl.hasError('maxlength')">
            Deve ter no máximo 3 caracteres
        </mat-error>
    </mat-form-field>
</div>
</div>
<div mat-dialog-actions>
    <button class="custom-button" mat-button (click)="onNoClick()">Cancelar</button>
    <button class="custom-button" mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="submit()">Alterar</button>
</div>