@import "../../../styles/variables.scss";
header {
    background-color: $white-color;
    width: 100%;
    box-shadow: 0 4px 4px #00000083;
    padding: 10px 30px;

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: var(--justify-content, center);;
        gap: 20px;
    }

}

img {
    width: auto;
    height: 4em;
}