@import "../../../styles/variables.scss";

footer {
    width: 100%;
    text-align: center;
    font-size: 12px;

    .date-hour {
        font-size: 14px;
        color: #fff;
    }

    p {
        margin: 0;
    }

    span {
         color: #ffffffbf;
    }
    #top-footer{
        background-color: #0A4E6B;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    #bottom-footer{
        border: 1px solid #073B4F;
        background-color: #073B4F;
        height: 14px;
        width: 100%;
        padding-bottom: 10px;
    }
}