:host{
    flex: 1;
    width: 100%;
    padding-top: 20px;
}

.content {
    text-align: center;
    
    a {
        color: red;
        text-decoration: underline;
        cursor: pointer;
    }

    span{
        font-weight: 600;
    }
}