@import "../../../styles/variables.scss";
:host{
    flex: 1;
    width: 100%;
    padding-top: 5px;
}

.content {
    text-align: center;
    span{
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
    }

}

.Logoff{
    text-align: right;
    padding: 0 30px
}    


a {
    font-weight: 500;
    color: $red-logo;
    text-decoration: underline;
    cursor: pointer;
    
}