@import "../../../styles/variables.scss";
:host{
    flex: 1;
    width: 100%;
    padding-top: 5px;
}

.content {
    text-align: center;
    span{
        display: inline-block;
        font-weight: 600;
    }

}

.Logoff{
    text-align: right;
    padding: 0 30px
}    


a {
    font-weight: 500;
    color: $red-logo;
    text-decoration: underline;
    cursor: pointer;
    
}

.header_content{
    margin: 1rem;
}

.header_content > p{
    margin: 0;
}

.dashboard_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Card styles */
    background-color: #fff; 
    border: 1px solid $primary-color;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 300px; 
    margin: 20px auto; 
    text-align: center; 
}

.dashboard_content > p {
    margin: 0 0 10px 0; 
    font: bold 1rem $font-secondary;
    color: $primary-color; 
}

.dashboard_content > span {
    font: bold 2rem $font-secondary;
    color: $red-logo; 
}