<ul>
    <li><a href="/home">Home</a></li>
    <li>
        <a href="#">Usuário v</a>
        <ul class="dropdown">
            <li><a href="#">Cadastrar novo</a></li>
            <li><a href="#">Listar</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Portabilidade v</a>
        <ul class="dropdown">
            <li><a href="#">Listar</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Operadoras v</a>
        <ul class="dropdown">
            <li><a href="#">Listar</a></li>
        </ul>
    </li>

</ul>