@import "../styles/variables.scss";


.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    min-height: 100vh;
    
    app-header-layout{
        width: 100%;
        
    }

    app-footer-layout{
        width: 100%;
    }


}
