@import "../../../styles/variables.scss";

:host ::ng-deep {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    
    .mat-icon {
        color: $primary-color;
        cursor: pointer;
    }
    table {
        max-width: 660px;
    }

    .mat-mdc-header-row {
        font-weight: 600;

    }
    .mat-mdc-form-field{
       width:  100%;
    
    }
    .mat-mdc-paginator-container{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.password-cell {
    max-width: 200px; /* Defina uma largura máxima para a célula de senha */
    overflow-wrap: break-word; /* Quebra de palavra para texto longo */
    word-wrap: break-word; /* Quebra de palavra para navegadores mais antigos */
}

app-titles{
    text-align: center;
}

.container-table{
    box-shadow: 
        0px 5px 5px 5px rgba(0, 0, 0, 0.2),
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

@media (max-width: 650px) {
    table {
        font-size: 12px; /* Reduzir o tamanho da fonte para telas menores */
    }
    .password-cell {
        max-width: 100px; /* Reduza a largura máxima para telas menores, se necessário */
    }
}