<section>
        <app-titles>Listar Usuários</app-titles>
        <div class="container-all">
                <div>
                    <mat-form-field>
                        <mat-label>Filtro</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="DDD ou Prefixo" #input>
                    </mat-form-field>
                </div>
        
                <div class="container-table">
                    
                
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef class="center"> ID </th>
                            <td mat-cell *matCellDef="let element" class="center"> {{element.id}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="center"> Nome </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef class="center"> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="editar">
                            <th mat-header-cell *matHeaderCellDef class="center"> Editar </th>
                            <td mat-cell *matCellDef="let element" class="center">
                                <mat-icon (click)="openDialog(element)">edit</mat-icon>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">Nada Encontrado "{{input.value}}"</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        
</section>
