@import "../../../styles/variables.scss";

:host{
    flex: 1;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

section{
    width: 400px;

    form {
        display: flex;
        flex-direction: column;
        gap: 18px;

        app-button-blue-click {
            width: 100%;
        }
    }

    a, a:visited {
        font-size: 18px;
        text-decoration: none;
        color: $text-fontNormal-color;
        text-align: center;
        cursor: pointer;
    }
    a:hover {
        color: $text-fontLight-color;
    }
}

.center{
    text-align: center;
}

