<section>

    <app-titles class="center">Esqueci a senha</app-titles>

    
    <form [formGroup]="forgotForm" (ngSubmit)="submit()">
        
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Digite seu email:"
            placeholder="joaosilva@example.com"
        ></app-primary-input>

        <div>Enviaremos um link de recuperação para o email informado</div>

        <app-button-blue-click type="submit" [disabled]="forgotForm.invalid">Enviar</app-button-blue-click>
        <a [routerLink]="['/login']">Voltar</a>

    </form>

</section>