<div class="container-title">
  <h1 mat-dialog-title>Editar Item</h1>
  <button mat-icon-button class="close-button" (click)="onCloseClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="container-all">
  <div class="container-conteudo">
    <p>Telephone Number(s)</p>
    <mat-form-field>
      <mat-label>CN</mat-label>
      <input matInput [(ngModel)]="data.cn" disabled>
    </mat-form-field>
    <mat-form-field>
      <mat-label>PREFIXO</mat-label>
      <input matInput [(ngModel)]="data.prefixo" disabled>
    </mat-form-field>
    <mat-form-field>
      <mat-label>MDCU</mat-label>
      <input matInput [(ngModel)]="data.sufixo" disabled>
    </mat-form-field>
  </div>

  <div class="container-conteudo">
    <p>Virtual Number(s)</p>
    <mat-form-field hintLabel="Máximo 4 characters">
      <mat-label>PREFIXO</mat-label>
      <input matInput #prefixoV maxlength="4" [formControl]="prefixoVFormControl" cdkFocusInitial>
      <mat-hint align="end">{{prefixoV.value.length}}/4</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Máximo 4 characters">
      <mat-label>MDCU</mat-label>
      <input matInput #sufixoV maxlength="4"[formControl]="sufixoVFormControl">
      <mat-hint align="end">{{sufixoV.value.length}}/4</mat-hint>
    </mat-form-field>
  </div>

</div>

<div mat-dialog-actions>
  <div><button id="button-red" class="custom-button" mat-button (click)="Limpar()">Limpar</button></div>
  <div id="side-button">
      <button class="custom-button" mat-button (click)="onNoClick()">Cancelar</button>
      <button class="custom-button" mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="submit()">Alterar</button>
  </div>
</div>