<div class="container-title">
    <h1 mat-dialog-title>Editar Item</h1>
    <button mat-icon-button class="close-button" (click)="onCloseClick()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content class="container-all">
    <div class="container-conteudo">
        <mat-form-field>
            <mat-label>USERNAME</mat-label>
            <input matInput [(ngModel)]="data.username" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>NOME</mat-label>
            <input matInput [(ngModel)]="data.fullname" [formControl]="fullnameFormControl" cdkFocusInitial>
            <mat-error *ngIf="fullnameFormControl.hasError('required')">
                Nome é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="fullnameFormControl.hasError('maxlength')">
                Deve ter no máximo 100 caracteres
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>EMAIL</mat-label>
            <input matInput [(ngModel)]="data.email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('email')">
                O Email não é <strong>valido</strong>
            </mat-error>
            <mat-error *ngIf="fullnameFormControl.hasError('maxlength')">
                Deve ter no máximo 60 caracteres
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="showPasswordField">
            <mat-label>SENHA</mat-label>
            <input matInput [(ngModel)]="data.password" type="password" [formControl]="passwordFormControl">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Senha é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
                Deve ter no máximo 45 caracteres
            </mat-error>
        </mat-form-field>

        <a (click)="togglePasswordField()">Redefinir senha</a>

    </div>
</div>

<div mat-dialog-actions>
    <div><button id="button-red" class="custom-button" mat-button (click)="deletar()">Deletar</button></div>
    <div id="side-button">
        <button class="custom-button" mat-button (click)="onNoClick()">Cancelar</button>
        <button class="custom-button" mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="submit()">Alterar</button>
    </div>
</div>