<div class="input-wrapper">
    <label [for]="inputName">{{ label }}</label>

    <div class="input-content">
        <input
            [type]="type"
            [placeholder]="placeholder"
            [formControl]="formControl"
            (input)="onInput($event)"
        />
    </div>
    <div *ngIf="formControl.invalid && formControl.touched" class="error-message">
        <span *ngIf="formControl.errors?.['required']">{{ label }} é obrigatório.<br></span>
        <span *ngIf="formControl.errors?.['minlength']">{{ label }} deve ter no mínimo {{ formControl.errors?.['minlength']?.requiredLength }} caracteres.<br></span>
        <span *ngIf="formControl.errors?.['maxlength']">{{ label }} deve ter no máximo {{ formControl.errors?.['maxlength']?.requiredLength }} caracteres.<br></span>
        <span *ngIf="formControl.errors?.['email']">Formato de email inválido.<br></span>
    </div>
</div>
