@import "../../../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// ::ng-deep .menu-primary .mat-mdc-menu-content,
// ::ng-deep .menu-primary .mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item_primary-text {
// font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; // change font-family
// font-size: var(--mdc-typography-body1-font-size, 20px); // change font-size
// line-height: var(--mdc-typography-bodyl-line-height, 24px); // change line height
// font-weight: var(--mdc-typography-body1-font-weight, 400); // change font weight
// letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em); // change letter spacing
// text-decoration: var(--mdc-typography-bodyl-text-decoration, inherit); // change text decoration
// text-transform: var(--mdc-typography-body1-text-transform, none); // change text transform
// }

:host ::ng-deep {
    .mat-mdc-button, .mdc-button__label{
        font-family: "Arvo"; 
    }

    .mat-mdc-menu-content, .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text{
        font-size: 30px !important;
    }
}

.content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    min-height: 100vh;
    
    app-header-layout{
        width: 100%;

        .menu{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

        }

    }

    main{
        height: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        width: 465px;
        flex: 1;
        gap: 20px;
    }
    

    app-footer-layout{
        width: 100%;
    }
}